@import url("https://fonts.googleapis.com/css?family=Rubik");
* {
    margin: 0;
    padding: 0%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #575757;
    text-align: center;
}

#producto {
    background: -webkit-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: -moz-linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
    background: linear-gradient(90deg, #6859EA 10%, #6ACBE0 90%);
}

h1 {
    color: #303030;
    font-size: 2em;
}

h3 {
    color: #3b3b3b;
    font-size: 1.375em;
}


/* Estilos del header*/

#header {
    background: #ececec;
}

.link-menu {
    color: #707070;
    text-decoration: none;
}

a:hover {
    color: #6984e6;
}


/*Estilos Section*/

#principal {
    margin-top: 3.125em;
    min-height: 28.12em;
}


/*Estilos Footer*/

#footer {
    background: #3b3b3b;
    color: #fff;
    height: 4.6875em;
}

.espacio-row {
    padding-top: 2em;
    padding-bottom: 2em;
}


/*Form*/

.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}

@media screen and (max-width:480px) {
    .responsive {}
}